---
layout: layouts/base.njk
eleventyNavigation:
  key: Style Guide
  order: 4
---

<div class="typography">
<h1>Hello World! What a pleasant Earth Day it is!</h1>
<h2>Hello World! What a pleasant Earth Day it is!</h2>
<h3>Hello World! What a pleasant Earth Day it is!</h3>
<h4>Hello World! What a pleasant Earth Day it is!</h4>
<p>Lorem ipsum sel de la vi se quantros y neuve</p>
</div>

<div>
  <h2>Colors</h2>
  <div class="token-grid">
    <div class="color-square blue"></div>
    <div class="color-square green"></div>
    <div class="color-square red"></div>
    <div class="color-square light-blue"></div>
    <div class="color-square purple"></div>
    <div class="color-square midnight"></div>
    <div class="color-square slate"></div>
    <div class="color-square fuschia"></div>
  </div>
</div>

<div>
<h2>Buttons</h2>
<div>
  <butto class="favorite styled"
         type="button">
         Button
         </button>
</div>
</div>