---
layout: layouts/base.njk
eleventyNavigation:
  key: Style Guide
  order: 4
---

<h1>Hello World! What a pleasant Earth Day it is!</h1>
<h2>Hello World! What a pleasant Earth Day it is!</h2>
<h3>Hello World! What a pleasant Earth Day it is!</h3>
<h4>Hello World! What a pleasant Earth Day it is!</h4>

<div class="--color-white"></div>
<div class="--color-green"></div>
<div class="--color-red"></div>
<div class="--color-blue"></div>
<div class="--color-lblue"></div>
<div class="--color-purple"></div>
<div class="--color-deep"></div>
<div class="--color-midnight"></div>
<div class="--color-fuschia"></div>
<div class="--color-javascript"></div>
<div class="--color-python"></div>
<div class="--color-go"></div>
<div class="--color-vue"></div>
<div class="--color-rust"></div>
<div class="--color-react"></div>
<div class="--color-django"></div>
<div class="--color-ember"></div>
