---
layout: layouts/base.njk
templateClass: tmpl-home
---

<!-- Hero Section -->
      <div class="warning">
      <div class="hero">
        <div class="hero-text">
          <h1>Geaux 11ty!</h1>
          <p>Eleventy resources by an 11ty Developer</p>
        </div>
        <img src="https://res.cloudinary.com/dvsjspnnz/image/upload/v1664969406/cld-sample-2.jpg" class="hero-img" alt="a picture for the hero" />
      </div>
      </div>

<div class="content-section">
{{ content | safe }}
</div>
